/* this is my style sheet */
.heading {color:blue; font-size:20px; font-weight:bold}

.title {color:red; font-size:25px; font-weight:bold}

.center {text-align:center;}

body {background-color:#ADD8E6}

.border {border-color:yellow; border-width: 10px;}